{% extends "core/extends/admin_base.html" %}

{% block title %} ARV | Add Image {% endblock %}

{% block heading %} Upload Image {% endblock %}

{% block main_content %}
    <section class="content-header">
        <h1 class="text-bold underlined-heading">
            Add new image
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url "core:edit_self_profile" %}">
                Timezone: {{ user.profile.timezone }}&nbsp; <i class="fa fa-edit"></i>
            </a></li>
        </ol>
    </section>

    <!-- section content-header used for symmetry pupose only -->
    <section class="content-header">
        <div class="row">
            <div class="col-md-12">

                {% if image_form_errors %}
                    {% for field, errors in image_form_errors %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4>
                                <i class="icon fa fa-warning"></i>
                                Alert!
                            </h4>
                            {{ errors.0|escape }} !
                        </div>
                    {% endfor %}
                {% else %}
                    {% if success %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4>
                                <i class="icon fa fa-check"></i>
                                Alert!
                            </h4>
                            Image is successfully uploaded.
                        </div>
                    {% endif %}
                    {% if failure %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <<h4>
                            <i class="icon fa fa-warning"></i>
                            Alert!
                        </h4>
                            Error while uploading image. Please, try again !
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="row">
	<form role="form" action="" method="post">
    		{% csrf_token %}
    		{{ form.as_p }}
    		<button type="submit">Submit</button>
	</form>
        </div>
        <!-- /.row -->
    </section>

{% endblock %}
