{% load common_tags %}

{#unfinished navigation#}
<li class="{% active_if "wizards:unfinished_tasks" %}">
    <a href="{% url "wizards:unfinished_tasks" %}">
        <i class="fa fa-tasks text-primary"></i> <span>Unfinished Tasks</span>
        <span class="pull-right-container">
            <span class="label label-primary pull-right">{{ unfinished_tasks_count }}</span>
            {% if new_tasks_count %}
                <span class="label label-primary pull-right">{{ new_tasks_count }} new</span>
            {% endif %}
        </span>
    </a>
</li>

{#Finished naviagation#}
<li class="{% active_if "wizards:finished_tasks" %}">
    <a href="{% url "wizards:finished_tasks" %}" class="ui-state-active">
        <i class="fa fa-tasks text-green"></i> <span>Finished Tasks</span>
        <span class="pull-right-container">
            {% if new_feededback_tasks_count %}
                <span class="label pull-right label-success">{{ new_feededback_tasks_count }}</span>
            {% endif %}
        </span>
    </a>
</li>

{#expired naviagation#}
<li class="{% active_if "wizards:expired_tasks" %}">
    <a href="{% url "wizards:expired_tasks" %}">
        <i class="fa fa-tasks text-red"></i> <span>Expired Tasks</span>
        <span class="pull-right-container">
          {% if new_expired_tasks_count %}
              <span class="label label-primary pull-right">{{ new_expired_tasks_count }}</span>
          {% endif %}
        </span>
    </a>
</li>

<hr class="side-navigation-separator">


