{% load common_tags %}



{#unfinished navigation#}
<li class="{% active_if "judges:unfinished_tasks" %}">
    <a href="{% url "judges:unfinished_tasks" %}">
        <i class="fa fa-tasks text-primary"></i> <span>Unfinished Tasks</span>
        <span class="pull-right-container">
            <span class="label label-primary pull-right">{{ unfinished_tasks_count }}</span>
            {% if new_tasks_count %}
                <span class="label label-primary pull-right">{{ new_tasks_count }} new</span>
            {% endif %}
        </span>
    </a>
</li>

{#Finished naviagation#}
<li class="{% active_if "judges:finished_tasks" %}">
    <a href="{% url "judges:finished_tasks" %}" class="ui-state-active">
        <i class="fa fa-tasks text-green"></i> <span>Finished Tasks</span>
        <span class="pull-right-container">
            {% if new_feededback_tasks_count %}
                <span class="label pull-right label-success">{{ new_feededback_tasks_count }}</span>
            {% endif %}
        </span>
    </a>
</li>

{#expired naviagation#}
<li class="{% active_if "judges:expired_tasks" %}">
    <a href="{% url "judges:expired_tasks" %}">
        <i class="fa fa-tasks text-red"></i> <span>Expired Tasks</span>
        <span class="pull-right-container">
          {% if new_expired_tasks_count %}
              <span class="label label-primary pull-right">{{ new_expired_tasks_count }}</span>
          {% endif %}
        </span>
    </a>
</li>

<hr class="side-navigation-separator">


<li class="treeview {% active_if "core:admin_dashboard" %}">
    <a href="{% url "core:admin_dashboard" %}">
        <i class="fa fa-home"></i> <span>Home</span>

    </a>

</li>

<li class="treeview {% active_if "manage_tasks:view_tasks" "manage_tasks:create_task" %}">
    <a href="{% url "manage_tasks:view_tasks" %}">
        <i class="fa fa-dashboard"></i> <span>Tasks</span>

    </a>

</li>
<li class="treeview {% active_if "manage_images:add_image" "manage_images:view_images" %}">
    <a href="{% url "manage_images:view_images" %}">
        <i class="fa fa-image"></i> <span>Images</span>

    </a>

</li>
<li class="treeview {% active_if "manage_users:register_user" "manage_users:view_users" "admins/edit_user/" %}">
    <a href="{% url "manage_users:view_users" %}">
        <i class="fa fa-users"></i> <span>Users</span>

    </a>

</li>





