<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <title>{% block title %} ARV {% endblock %}</title>

    {% load static %}
    {% block links %}
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <!-- Font Awesome -->
        <link rel="stylesheet"
        href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}">
        <!-- Ionicons -->
        <link rel="stylesheet" href="{% static "ionicons-2.0.1/css/ionicons.min.css" %}">
        <!-- daterange picker -->
        <link rel="stylesheet" href="{% static "plugins/daterangepicker/daterangepicker.css" %}">
        <!-- bootstrap datepicker -->
        <link rel="stylesheet" href="{% static "plugins/datepicker/datepicker3.css" %}">
        <!-- iCheck for checkboxes and radio inputs -->
        <link rel="stylesheet" href="{% static "plugins/iCheck/all.css" %}">
        <!-- Bootstrap Color Picker -->
        <link rel="stylesheet" href="{% static "plugins/colorpicker/bootstrap-colorpicker.min.css" %}">
        <!-- Bootstrap time Picker -->
        <link rel="stylesheet" href="{% static "plugins/timepicker/bootstrap-timepicker.min.css" %}">
        <!-- Theme style -->
        <link rel="stylesheet" href="{% static "dist/css/AdminLTE.css" %}">
        <!-- AdminLTE Skins. Choose a skin from the css/skins
        folder instead of downloading all of them to reduce the load. -->
        <link rel="stylesheet" href="{% static "dist/css/skins/_all-skins.min.css" %}">


        <!-- Custome ARV css -->
        <link rel="stylesheet" href="{% static "dist/css/arv.css" %}">

        <!-- New css for datetime picker -->
        <link rel="stylesheet"
        href="{% static "/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" %}"/>

        <!-- Select2 -->
        <link rel="stylesheet" href="{% static "plugins/select2/select2.min.css" %}">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    {% endblock links %}
</head>

<body class="hold-transition skin-blue layout-boxed">


<div class="wrapper">

    <!-- header start -->
    {% include "includes/header.html" %}
    <!-- end of header -->

    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="widget-user-image">
                    <img src="{{ user.profile.picture.url }}" class="img-circle" alt="User Image" width="60px" height="60px">
                </div>
                <div class="pull-right info">
                    <p>{{ user.username }}</p>
                    <a href='#'>
                        <i class='fa fa-circle text-success'></i>
                        {% if user.groups.all.count >= 1 %}
                            {{ user.groups.all.0.name|slice:":-1" }}
                        {% else %}
                            Has no role
                        {% endif %}
                    </a>
                    <!--<p></p>
                    <a href="#"><i class="fa fa-circle text-success"></i> Online</a>-->
                </div>
            </div>
            <!-- search form
            <form action="#" method="get" class="sidebar-form">
              <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                    <span class="input-group-btn">
                      <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                      </button>
                    </span>
              </div>
            </form> -->
            <!-- /.search form -->
            <!-- sidebar menu: : style can be found in sidebar.less -->

            <ul class="sidebar-menu">

                {% block side_navigation_links %}
                    Side navigation links
                {% endblock %}

            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>
    <!-- end of side bare -->

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header)
        <section class="content-header">
          <h1>
            Advanced Form Elements
            <small>Preview</small>
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Forms</a></li>
            <li class="active">Advanced Elements</li>
          </ol>
        </section>-->

        <!-- Main content -->
        <section class="content">
            {% block main_content %}

                <!-- SELECT2 EXAMPLE -->
                <div class="box box-default">

                    <div class="box-header with-border" style="padding: 2em 3em 1em;">
                        <div class="row">
                            <div class="col-md-12">

                                <h3 class="box-title">{% block heading %}ARV | Experiment{% endblock %}</h3>

                            </div>
                        </div>
                    </div>
                    <!--    unnecessary closing button
                  <div class="box-tools pull-right">
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-remove"></i></button>
                  </div>
                </div>
                    -->
                    <!-- /.box-header -->
                    <div class="box-body" style="padding: 1em 3em 2em;">
                        {% block content %}

                        {% endblock %}
                    </div>
                    <!-- /.box-body -->
                </div>

            {% endblock %}
            <!-- /.box -->
        </section>
        <!-- /.content -->

    </div>
    <!-- /.content-wrapper -->
    <!-- Control Sidebar -->
    {% include "includes/footer.html" %}
    <!-- Control Sidebar -->
    {#  {% include "admins/extends/control_sidebar.html" %} #}
    <!-- end of control sidebar -->
</div>
<!-- ./wrapper -->

{% block scripts %}

    <!-- jQuery 2.2.3 -->
    <script src="{% static "plugins/jQuery/jquery-2.2.3.min.js" %}"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    <!-- Select2 -->
    <script src="{% static "plugins/select2/select2.full.min.js" %}"></script>
    <!-- InputMask -->
    <script src="{% static "plugins/input-mask/jquery.inputmask.js" %}"></script>
    <script src="{% static "plugins/input-mask/jquery.inputmask.date.extensions.js" %}"></script>
    <script src="{% static "plugins/input-mask/jquery.inputmask.extensions.js" %}"></script>
    <!-- date-range-picker -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
    <script src="{% static "plugins/daterangepicker/daterangepicker.js" %}"></script>
    <!-- bootstrap datepicker -->
    <script src="{% static "plugins/datepicker/bootstrap-datepicker.js" %}"></script>
    <!-- bootstrap color picker -->
    <script src="{% static "plugins/colorpicker/bootstrap-colorpicker.min.js" %}"></script>
    <!-- bootstrap time picker -->
    <script src="{% static "plugins/timepicker/bootstrap-timepicker.min.js" %}"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="{% static "plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
    <!-- iCheck 1.0.1 -->
    <script src="{% static "plugins/iCheck/icheck.min.js" %}"></script>
    <!-- FastClick -->
    <script src="{% static "plugins/fastclick/fastclick.js" %}"></script>
    <!-- AdminLTE App -->
    <script src="{% static "dist/js/app.min.js" %}"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="{% static "dist/js/demo.js" %}"></script>


    <!-- New js for datetime picker to work -->
    <script type="text/javascript" src="{% static "/bower_components/moment/min/moment.min.js" %}"></script>
    <script type="text/javascript"
            src="{% static "/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js" %}"></script>

    <!-- select2 scripte -->
    <link href="{% static "plugins/select2/select2.min.css" %}" rel="stylesheet">

    <!-- Page script -->
    <script>
        $(function () {
            //Initialize Select2 Elements
            $(".select2").select2();

            //Datemask dd/mm/yyyy
            $("#datemask").inputmask("dd/mm/yyyy", {"placeholder": "dd/mm/yyyy"});
            //Datemask2 mm/dd/yyyy
            $("#datemask2").inputmask("mm/dd/yyyy", {"placeholder": "mm/dd/yyyy"});
            //Money Euro
            $("[data-mask]").inputmask();

            //Date range picker
            $('#reservation').daterangepicker();
            //Date range picker with time picker
            $('#reservationtime').daterangepicker({
                timePicker: true,
                timePickerIncrement: 30,
                format: 'MM/DD/YYYY h:mm A'
            });
            //Date range as a button
            $('#daterange-btn').daterangepicker(
                {
                    ranges: {
                        'Today': [moment(), moment()],
                        'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                        'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                        'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                        'This Month': [moment().startOf('month'), moment().endOf('month')],
                        'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                    },
                    startDate: moment().subtract(29, 'days'),
                    endDate: moment()
                },
                function (start, end) {
                    $('#daterange-btn span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
                }
            );

            //Date picker
            $('#uploadlast').datepicker({
                autoclose: true
            });

            //Date picker
            $('#judgetime').datepicker({
                autoclose: true
            });

            //Date picker
            $('#tradestart').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd'
            });

            //Date picker
            $('#tradeexit').datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd'
            });

            //Date picker
            $('#notiftime').datepicker({
                autoclose: true
            });

            //iCheck for checkbox and radio inputs
            $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
                checkboxClass: 'icheckbox_minimal-blue',
                radioClass: 'iradio_minimal-blue'
            });
            //Red color scheme for iCheck
            $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
                checkboxClass: 'icheckbox_minimal-red',
                radioClass: 'iradio_minimal-red'
            });
            //Flat red color scheme for iCheck
            $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
                checkboxClass: 'icheckbox_flat-green',
                radioClass: 'iradio_flat-green'
            });

            //Colorpicker
            $(".my-colorpicker1").colorpicker();
            //color picker with addon
            $(".my-colorpicker2").colorpicker();

            //Timepicker
            $(".timepicker").timepicker({
                showInputs: false
            });
        });
    </script>
    <!-- select2 -->
    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2({
                multiple: true,
            });

            $(".select2_single").select2({
                placeholder: "Select a state",
                allowClear: true
            });
            $(".select2_group").select2({});
            $(".select2_multiple").select2({
                maximumSelectionLength: 10,
                placeholder: "With Max Selection limit 10",
                allowClear: true
            });
        });
    </script>
    <!-- /select2 -->

    <!-- jquery cookie handling helper -->
    <script src="{% static "dist/js/jquery.cookie-1.4.1.min.js" %}"></script>

    <script src="{% static "bootstrap/js/bootbox.min.js" %}"></script>
    <script src="{% static "dist/js/timezones.full.min.js" %}"></script>
    <script src="{% static "dist/js/arv.js" %}"></script>

    <!-- set csrftoken whenever ajax request is sent using unsafe http method like POST method -->
    <script>
        var csrftoken = $.cookie("csrftoken");

        function csrfSafeMethod(http_method){
            // these http methods don't require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/i.test(http_method));
        }

        $.ajaxSetup({
            beforeSend: function(xhr, settings){
                if (!csrfSafeMethod(settings.type) && !this.crossDomain){
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        })
    </script>



    <!-- jquery file upload scripts -->
    <script src="{% static 'jquery-file-upload/jquery.ui.widget.js' %}"></script>
    <script src="{% static 'jquery-file-upload/jquery.iframe-transport.js' %}"></script>
    <script src="{% static 'jquery-file-upload/jquery.fileupload.js' %}"></script>

    <!-- image uploading script -->
    <script src="{% static 'dist/js/basic-upload.js' %}"></script>
{% endblock scripts %}


</body>
</html>
