{% extends "wizards/extends/base.html" %}

{% block title %} ARV | Unfinished Tasks {% endblock %}

{% block main_content %}

    <section class="content-header margin-r-5">

        <h1 class="text-bold underlined-heading">
            Unfinished Tasks
        </h1>

        <ol class="breadcrumb">
            <li><a href="{% url "core:self_profile" %}">
                Timezone: {{ user.profile.timezone }}&nbsp; <i class="fa fa-edit"></i>
            </a></li>
        </ol>
    </section>


    <!-- section content-header used for symmetry pupose only -->
    <section class="content-header">
        <input type="hidden" id="hidden_info" data-ajax-url="{% url "wizards:upload_wizard_picture" %}"
               data-wizard-id="{{ user.id }}" data-csrf-token="{{ csrf_token }}">

        <form method="post" enctype="multipart/form-data">
            {% for task, assignment_state in zipped_tasks %}
                <div class="box box-primary" id="{{ task.id }}">
                    <div class="box-header with-border">
                        <div class="col-md-6 unfinished-task-title">
                            <h4 class="box-title text-bold">
                                {{ task.name }}
                                {% ifequal assignment_state ASSIGNED_NEW %}
                                    <span class="label label-primary">New Task</span>
                                {% endifequal %}
                            </h4>
                        </div>

                        <div class="col-md-6">
                            <span class="text-bold">Deadline time: </span> {{ task.sketch_deadline }}
                            <br>
                            <span class="text-bold">Feedback time: </span> {{ task.judgment_deadline }}
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="col-md-6">
                            <p><i>{{ task.description }}</i></p>
                        </div>
                        <div class="col-md-6">
                        <span class="btn btn-primary align-right btn-file no-margin">
                            <i class="fa fa-upload"></i>&nbsp; Upload Image
                            <input type="file" name="{{ task.id }}"
                                   data-task-id="{{ task.id }}" class="upload_image">
                            </span>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="col-md-12 text-center">
                            <h4>No Unfinished Tasks</h4>
                            <hr>
                            <p>There are no unfinished tasks currently.</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            {% include "core/includes/pagination.html" with items=tasks %}

        </form>
    </section>
{% endblock main_content %}