{% extends "wizards/extends/base.html" %}

{% block title %} ARV | Finished Tasks {% endblock %}

{% block main_content %}

    <section class="content-header">
        <h1 class="text-bold underlined-heading">
            Finished Tasks
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url "core:self_profile" %}">
                Timezone: {{ user.profile.timezone }}&nbsp; <i class="fa fa-edit"></i>
            </a></li>
        </ol>
    </section>

    <!-- section content-header used for symmetry pupose only -->
    <section class="content-header">
        {% for task, assignment in task_assignments %}
            <div class="box box-success">

                <div class="box-header with-border">
                    <div class="col-md-6">
                        <h4 class="text-bold box-title">
                            {{ task.name }}
                            {% ifequal assignment.state FEEDEDBACK_NEW %}
                                <span class="label label-success">New Feedback</span>
                            {% endifequal %}
                        </h4>
                    </div>
                    <div class="col-md-6">
                        <span class="text-bold">Feedback time: </span> {{ task.judgment_deadline }}
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-6">

                        <p><i>{{ task.description }}</i></p>
                    </div>
                    <div class="col-md-6">
                        <a href="" data-predicted-image-url="{{ assignment.wizard_image.url }}"
                           data-event-image-url="{{ task.get_event_image.image.url }}"
                           id="{{ task.id }}" class="feedback_image_viewer btn btn-primary">
                            <i class="fa fa-image"></i>&nbsp; Image Preview
                        </a>
                        {% with is_correct=assignment.is_correct %}
                            {% if is_correct == None %}
                                {% if assignment.task.event != None %}
                                    <label class="label label-default">Your had equal points for both image</label>
                                {% endif %}
                            {% else %}
                                {% if is_correct %}
                                     <label class="label label-success">You were correct</label>
                                {% else %}
                                    <label class="label label-danger">You were not correct</label>
                                {% endif %}
                            {% endif %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12 text-center">
                        <h4>No Finished Tasks</h4>
                        <hr>
                        <p>There are no finished tasks currently.</p>
                        <p>Please, finish a task before a deadline.</p>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% include "core/includes/pagination.html" with items=tasks %}

    </section>
{% endblock main_content %}