{% extends "wizards/extends/base.html" %}

{% block title %} ARV | Solo Practice {% endblock %}

{% block main_content %}

    <section class="content-header">
        <h1 class="text-bold underlined-heading">
            Solo Practice
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url "core:self_profile" %}">
                Timezone: {{ user.profile.timezone }}&nbsp; <i class="fa fa-edit"></i>
            </a></li>
        </ol>
    </section>

    <!-- section content-header used for symmetry pupose only -->
    <section class="content-header">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-12 text-center">
                    <h4>Start Practice</h4>
                    <hr>
                    <p>Remotely View the Image you are about to see</p>
                    <button class="btn btn-primary" id="get_random_image"
                            data-ajax-url="{% url "wizards:get_random_image_url" %}">
                        Show Random Image
                    </button>
                </div>
            </div>
        </div>
    </section>
{% endblock main_content %}