{% extends "wizards/extends/base.html" %}

{% block title %} ARV | Expired Tasks {% endblock %}

{% block main_content %}

    <section class="content-header">
        <h1 class="text-bold underlined-heading">
            Expired Tasks
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url "core:self_profile" %}">
                Timezone: {{ user.profile.timezone }}&nbsp; <i class="fa fa-edit"></i>
            </a></li>
        </ol>
    </section>


    <!-- section content-header used for symmetry pupose only -->
    <section class="content-header">
        {% for task, assignment in zipped_tasks %}
            <div class="box box-danger">

                <div class="box-header with-border">
                    <div class="col-md-6">
                        <h4 class="text-bold box-title">
                            {{ task.name }}
                            {% ifequal assignment.state EXPIRED_NEW %}
                                <span class="label label-danger">New Expired Task</span>
                            {% endifequal %}
                        </h4>
                    </div>
                    <div class="col-md-6">
                        <span class="text-bold">Deadline time was: </span> {{ task.sketch_deadline }}
                    </div>
                </div>
                <div class="box-body">
                    <div class="col-md-6">

                        <p><i>{{ task.description }}</i></p>
                    </div>
                    <div class="col-md-6">

                    </div>
                </div>
            </div>
        {% empty %}
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-12 text-center">
                        <h4>No Expired Tasks</h4>
                        <hr>
                        <p>There are no expired tasks.</p>
                        <p>Great job! Keep up!</p>
                    </div>
                </div>
            </div>

        {% endfor %}

        {% include "core/includes/pagination.html" with items=tasks %}

    </section>


{% endblock main_content %}