{% extends "judges/extends/base.html" %}

{% block title %} ARV | Unfinished Tasks {% endblock %}

{% block main_content %}

    <section class="content-header">
        <h1 class="text-bold underlined-heading">
            Viewers for selected Task
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url "core:self_profile" %}">
                Timezone: {{ user.profile.timezone }}&nbsp; <i class="fa fa-edit"></i>
            </a></li>
        </ol>
    </section>

    <!-- section content-header used for symmetry pupose only -->
    <section class="content-header">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="col-md-6">
                    <span class="text-bold" style="font-size: 1.05em;">{{ task.name }}</span>
                    {% ifequal task.wizard_assignment.state ASSIGNED_NEW %}
                        <span class="label label-default">New Task</span>
                    {% endifequal %}
                </div>
                <div class="col-md-6">
                    <span class="text-bold">Due {{ task.judgment_deadline }}</span>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">Description:</div>
                        <div class="col-md-10"><i>{{ task.description }}</i></div>
                    </div>
                </div>
            </div>
        </div>
        <hr class="myhr">
    </section>

    <!-- section content-header used for symmetry pupose only -->
    <section class="content-header">
        <input type="hidden" id="hidden_info" data-ajax-url="{% url "judges:vote_image" %}"
               data-task-id="{{ task.pk }}" data-csrf-token="{{ csrf_token }}">

            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                {% for assignment, judgment in assignment_judgments %}
                    <div class="box box-primary collapsed-box" id="{{ assignment.wizard.pk }}">

                        <div class="box-header with-border">

                            <h4 class="box-title">

                                predicting wizard: <span class="text-bold">{{ assignment.wizard.username }}</span>

                                {% if assignment.state == ASSIGNED_NEW %}
                                    <span class="label label-default text-bold">New Task</span>
                                    {% endif %}
                            </h4>

                            <button type="button" class="pull-right btn btn-box-tool" data-widget="collapse">
                                <i class="fa fa-chevron-down"></i>
                            </button>
                            {% if judgment.state == FINISHED %}
                                <span class="label label-success text-bold pull-right" style="font-size: 1em;">
                                    Ranks submitted
                                </span>
                            {% endif %}

                        </div>
                        <div class="box-body">
                            <div class="row text-center">
                                <div class="col-md-4">

                                    <div class="bottom-space">
                                        <div class="form-group">
                                            {% for i in rank_scores %}
                                                <label class="radio-inline">
                                                    <input type="radio" value="{{ i }}" name="{{ assignment.wizard.id }}_1"
                                                           data-which-image="{{ assignment.wizard.id }}_1"
                                                           data-wizard-id="{{ assignment.wizard.id }}"
                                                            {% ifequal judgment.rank_1  i %}checked{% endifequal %}> {{ i }}
                                                </label>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="text-center bottom-space">
                                        <img style="width:100%;" src="{{ task.image1.image.url }}" alt="">
                                    </div>

                                </div>
                                <div class="col-md-4">
                                    <div class="bottom-space text-bold">
                                        Predicted Wizard Image
                                    </div>
                                    <div class="text-center bottom-space">
                                        {% if assignment.wizard_image %}
                                            <img src="{{ assignment.wizard_image.url }}" alt="" style="width:100%;">

                                            <button class="btn btn-primary submitter" style="margin-top: 1em;"
                                                    data-wizard-id="{{ assignment.wizard.id }}"
                                                    {{ assignment.wizard_image|yesno:",disabled" }}
                                                    {% if judgment.state == FINISHED %}disabled{% endif %}>
                                                {% if judgment.state == FINISHED %}
                                                    <i class="fa fa-check"></i> Ranks Submitted
                                                {% else %}
                                                    Submit Ranks
                                                {% endif %}
                                            </button>
                                        {% else %}
                                            No Wizard Image Uploaded yet
                                        {% endif %}
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="bottom-space">
                                        <div class="form-group">
                                            {% for i in rank_scores %}
                                                <label class="radio-inline">
                                                    <input type="radio" value="{{ i }}" name="{{ assignment.wizard.id }}_2"
                                                           data-which-image="{{ assignment.wizard.id }}_2"
                                                           data-wizard-id="{{ assignment.wizard.id }}"
                                                            {% ifequal judgment.rank_2  i %}checked{% endifequal %}> {{ i }}
                                                </label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <div class="text-center bottom-space">
                                        <img src="{{ task.image2.image.url }}" alt="" style="width:100%;">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>

        {% include "core/includes/pagination.html" with items=assignment_judgments %}

    </section>
{% endblock main_content %}