<header class="main-header">
    <!-- Logo -->
    <a href="#" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>ARV</b></span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>ARV </b> Experiment</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->

                <!-- Notifications: style can be found in dropdown.less -->

                <!-- Tasks: style can be found in dropdown.less -->


                <!-- User Account: style can be found in dropdown.less -->
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <div class="widget-user-image">
                            <img src="{{ user.profile.picture.url }}" class="user-image" alt="User Image" height="160"
                                 width="160">
                            <span class="hidden-xs">
              			{{ user.username }}
              </span>
                        </div>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <div class="widget-user-image">
                                <img src="{{ user.profile.picture.url }}" class="img-circle" alt="User Image" height="110">
                            </div>
                            <p>
                                {{ user.username }}<br>
                                <small>
                                    {% if user.groups.all.count >= 1 %}
                                        {{ user.groups.all.0.name|slice:":-1" }}
                                    {% else %}
                                        Has no role
                                    {% endif %}
                                </small>
                            </p>
                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="{% url "core:self_profile" %}"
                                   class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-right">
                                <a href="{% url "core:logout" %}" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>

            </ul>
        </div>
    </nav>
</header>