{% extends "judges/extends/base.html" %}

{% block title %} ARV | Register User {% endblock %}

{% block heading %} Register new user {% endblock %}

{% block main_content %}
    <section class="content-header">
        <h1 class="text-bold underlined-heading">
            Register new user
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url "core:self_profile" %}">
                Timezone: {{ user.profile.timezone }}&nbsp; <i class="fa fa-edit"></i>
            </a></li>
        </ol>
    </section>

    <!-- section content-header used for symmetry pupose only -->
    <section class="content-header">

        <div class="row">
            <div class="col-md-12">
                {% if user_form_errors %}
                    {% for  field,error in user_form_errors.items %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4>
                                <i class="icon fa fa-warning"></i>
                                Alert!
                            </h4>
                            {{ error.0|escape }}
                        </div>
                    {% endfor %}
                {% elif profile_form_errors %}
                    {% for field, error in profile_form_errors.items %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4>
                                <i class="icon fa fa-warning"></i>
                                Alert!
                            </h4>
                            {{ error.0|escape }}
                        </div>
                    {% endfor %}
                {% else %}
                    {% if success %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4>
                                <i class="icon fa fa-check"></i>
                                Alert!
                            </h4>
                            User is successfully registered.
                        </div>
                    {% endif %}
                    {% if failure %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4>
                                <i class="icon fa fa-warning"></i>
                                Alert!
                            </h4>
                            Error while registering user. Please, try again  </a>!
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
            <div class="row">
                <div class="col-md-12">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">User Name*</label>
                        <div class="col-sm-8">
                            <input type='text' name='username' class='form-control' id="username" required>
                        </div>
                    </div>
{#               # password input not deemed necessary    #}
{#                    <div class="form-group">#}
{#                        <label for="password" class="col-sm-2 control-label">Password*</label>#}
{##}
{#                        <div class="col-sm-8">#}
{#                            <input type="password" name="password" id="password" class="form-control" id="password"#}
{#                                   required/>#}
{#                        </div>#}
{#                        <!--<label>#}
{#                            <input id="methods" type="checkbox"/>#}
{#                                Show password#}
{#                        </label>-->#}
{#                    </div>#}
                    <div class="form-group">
                        <label for="role" class="col-sm-2 control-label"> User Type*</label>
                        <div class="col-sm-8">
                            <label class="radio-inline">
                                <input name="role" id="optionsRadios3" value="wizards" checked="" type="radio">Wizard
                            </label>
                            <label class="radio-inline">
                                <input name="role" id="optionsRadios2" value="judges" type="radio">Judge (Also Admin)
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email*</label>
                        <div class="col-sm-8">
                            <input type="email" name="email" class="form-control" id="inputEmail3" placeholder="Email" required/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="first_name" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" name="first_name" id="first_name" class="form-control"
                                   placeholder="First Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text" name="last_name" id="last_name" class="form-control"
                                   placeholder="Enter Last Name"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="timezone" class="col-sm-2 control-label">Time Zone</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="timezone" id="timezone">
                                {% for tz in timezones %}
                                    <option value="{{ tz }}" {% if tz == user.profile.timezone %}selected{% endif %}>
                                        {{ tz }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact_no" class="col-sm-2 control-label"> Phone Number</label>
                        <div class="col-sm-8">
                            <input type="text" name="contact_no" id="contact_no" class="form-control"
                                   placeholder="Phone Number"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="picture" class="col-sm-2 control-label"> Profile Picture</label>
                        <div class="col-sm-8">
                            <input type="file" name="pictrue" id="picture" class="form-control" accept="image/*"/>
                        </div>
                    </div>


                    <div class="form-group">
                        <!--<button type="submit" class="btn btn-info "> Save </button>
                      <button type="submit" class="btn btn-default"> Cancel </button>-->
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" class="btn btn-primary" name="btn-save">
                                <i class="fa fa-plus"></i>&nbsp;
                                Create User
                            </button>
                        </div>

                    </div>

                </div>
            </div>
        </form>
    </section>
{% endblock %}