{% extends "judges/extends/base.html" %}

{% block title %} ARV | View Users {% endblock %}

{% block main_content %}
    <section class="content-header">
        <h1 class="text-bold underlined-heading">
            All Users
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url "core:self_profile" %}">
                Timezone: {{ user.profile.timezone }}&nbsp; <i class="fa fa-edit"></i>
            </a></li>
        </ol>
    </section>

    <!-- section content-header used for symmetry pupose only -->
    <section class="content-header">
        <div class="row">
            <div class="col-md-2">
                <div>&nbsp;</div><!-- just a div to take an empty line -->
                <a href="{% url "manage_users:register_user" %}" class="btn btn-large btn-primary"><i
                        class="fa fa-plus"></i> &nbsp; Add User</a>
            </div>
            <div class="col-md-2">
                <label>Account State</label>
                <select name="account_state" class="form-control" id="account_state">
                    <option value="">All</option>
                    <option value="active">Active</option>
                    <option value="inactive">Inactive</option>
                </select>
            </div>
            <div class="col-md-2">
                <label>Account Type</label>
                <select name="account_type" class="form-control" id="account_type">
                    <option value="">All</option>
                    <option value="wizards">Wizards</option>
                    <option value="judges">Judges</option>
                </select>
            </div>
            <div class="col-md-2">
                <label for="attribute">Filter by</label>
                <select name="attribute" class="form-control" id="attribute">
                    <option value="username">User Name</option>
                    <option value="first_name">First Name</option>
                    <option value="last_name">Last Name</option>
                    <option value="email">Email</option>
                    <option value="role">User Role</option>
                    <option value="contact_no">Contact No</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="search_term">Search for</label>
                <div class="has-feedback">
                    <input name="search_term" id="search_term" class="form-control" type="text"
                           data-table-id="result-table"
                           data-ajax-url="{% url "manage_users:get_filtered_users" %}" autofocus>
                    <span class="fa fa-search form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(Search)</span>
                </div>
            </div>
        </div>
        <div class="row" id="result-table">
            <div class="col-md-12">
                <div class="x-overflowable">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <!--<table class='table table-bordered table-responsive'>-->
                        <tr>
                            <th><a href="#">#</a></th>
                            <th>User Name</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>E-mail</th>
                            <th>User Role</th>
                            <th>Contact No</th>
                            <th>Account state</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users %}
                            <tr onclick="window.location='{% url "core:user_profile" user.id %}';"
                                style="cursor: pointer;">
                                <td>
                                    <a href="{% url "core:user_profile" user.id %}">
                                        {{ forloop.counter }}
                                    </a>
                                </td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.first_name|default:"---" }}</td>
                                <td>{{ user.last_name|default:"---" }}</td>
                                <td>{{ user.email|default:"---" }}</td>
                                <td>
                                    {% for group in user.groups.all %}
                                        {{ group.name|slice:":-1" }} <br>
                                    {% empty %}
                                        No role
                                    {% endfor %}
                                </td>
                                <td>{{ user.profile.contact_no }}</td>
                                <td>
                                    {% if user.is_active %}
                                        Active
                                    {% else %}
                                        Deactivated
                                    {% endif %}
                                </td>
                                {% comment %}<td align="center">
                                    <a href="{% url "manage_users:edit_user" user.id %}"><i class="fa fa-edit"></i></a>
                                </td>{% endcomment %}

{% comment %}
                                <td align="center">
                                    {% if user.is_active %}
                                        <button href="javascript:void(0)"
                                                class="activate_deactivate_user btn btn-danger" data-id="{{ user.id }}"
                                                data-ajax-url="{% url "manage_users:activate_deactivate_user" %}"
                                                data-user-active="true">
                                            Deactivate
                                        </button>
                                    {% else %}
                                        <button href="javascript:void(0)"
                                                class="activate_deactivate_user btn btn-success" data-id="{{ user.id }}"
                                                data-ajax-url="{% url "manage_users:activate_deactivate_user" %}"
                                                data-user-active="false">
                                            Activate
                                        </button>
                                    {% endif %}
                                </td>
{% endcomment %}
                            </tr>
                        {% empty %}
                            <tr>
                                <td align="center" colspan="9" class="text-bold" style="font-size:2em;">
                                    No Results Found
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {% include "core/includes/pagination.html" with items=users %}

        </div>
    </section>


{% endblock %}