{% extends "judges/extends/base.html" %}

{% block title %} ARV | Dashboard {% endblock %}
{% block main_content %}

    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            User Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">User</a></li>
            <li class="active">User profile</li>
        </ol>
    </section>

    <!-- Main content -->
    <!-- section should be content-header rahter than content because of weird symmetric problem -->
    <section class="content-header">

        <div class="row">
            <div class="col-md-4">

                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        {% load thumbnail %}
                        {% thumbnail selected_user.profile.picture "200" as image %}
                            <img class="profile-user-img img-responsive img-circle"
                                 src="{{ image.url }}" alt="selected user profile picture"/>
                        {% endthumbnail %}

                        <h3 class="profile-username text-center">{{ selected_user.username }}</h3>

                        <p class="text-muted text-center">
                            {% if selected_user.groups.all.count >= 1 %}
                                {{ selected_user.groups.all.0.name|slice:":-1" }}
                            {% else %}
                                Has no role
                            {% endif %}
                        </p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Full Name</b> <a
                                    class="pull-right">{{ selected_user.get_full_name|default:"Not set" }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Email</b> <a class="pull-right">{{ selected_user.email }}</a>
                            </li>
                            <li class="list-group-item">
                                <b>Phone Num</b> <a
                                    class="pull-right">{{ selected_user.profile.phone|default:"Not set" }}</a>
                            </li>
                            <li class="list-group-item">
                                <b> Time Zone</b> <a class="pull-right">{{ selected_user.profile.timezone }}</a>
                            </li>
                        </ul>

                    {% if selected_user.id != user.id %}
                        {% if selected_user.is_active %}
                            <button href="javascript:void(0)"
                                    class="activate_deactivate_user btn btn-danger btn-block" data-id="{{ selected_user.id }}"
                                    data-ajax-url="{% url "manage_users:activate_deactivate_user" %}"
                                    data-user-active="true">
                                <b>Deactivate Account</b>
                            </button>
                        {% else %}
                            <button href="javascript:void(0)"
                                    class="activate_deactivate_user btn btn-success btn-block" data-id="{{ selected_user.id }}"
                                    data-ajax-url="{% url "manage_users:activate_deactivate_user" %}"
                                    data-user-active="false">
                                <b>Activate Account</b>
                            </button>
                        {% endif %}
                    {% endif %}
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->

            </div>
            <!-- /.col -->
            <div class="col-md-8">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#status" data-toggle="tab">Status</a></li>
                        <li><a href="#edit" data-toggle="tab">Edit profile</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="active tab-pane" id="status">
                            <div class="row">

                                <div class="col-md-12">
                                    <!-- Info Boxes Style 2 -->
                                    <div class="info-box bg-yellow">
                                            <span class="info-box-icon"><i
                                                    class="ion ion-ios-pricetag-outline"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Finished Tasks</span>
                                            <span class="info-box-number">{{ finished_tasks }}</span>

                                            <div class="progress">
                                                <div class="progress-bar"
                                                     style="width: {{ finished_tasks_percent }}%"></div>
                                            </div>
                                            <span class="progress-description">
                                                    {{ finished_tasks_percent }}% participated from all tasks
                                                </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                    <div class="info-box bg-green">
                                            <span class="info-box-icon"><i
                                                    class="ion ion-android-cloud-done"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Successfully Predicted Tasks</span>
                                            <span class="info-box-number">{{ success_tasks }}</span>

                                            <div class="progress">
                                                <div class="progress-bar"
                                                     style="width: {{ success_tasks_percent }}%"></div>
                                            </div>
                                            <span class="progress-description">
                                                    {{ success_tasks_percent }}% successfully predicted from participated tasks
                                                    <small>(excludes expired tasks)</small>
                                                </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                    <div class="info-box bg-red">
                                        <span class="info-box-icon"><i class="ion ion-android-alert"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Expired Tasks</span>
                                            <span class="info-box-number">{{ expired_tasks }}</span>

                                            <div class="progress">
                                                <div class="progress-bar"
                                                     style="width: {{ expired_tasks_percent }}%"></div>
                                            </div>
                                            <span class="progress-description">
                                                    {{ expired_tasks_percent }}% expired from participated tasks
                                                </span>
                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>
                                    <!-- /.info-box -->
                                    <div class="info-box bg-aqua">
                                            <span class="info-box-icon"><i
                                                    class="ion-ios-chatbubble-outline"></i></span>

                                        <div class="info-box-content">
                                            <span class="info-box-text">Currently Active Tasks</span>
                                            <span class="info-box-number">{{ unfinished_tasks }}</span>

                                            <div class="progress">
                                                <div class="progress-bar"
                                                     style="width: 0%"></div>
                                            </div>

                                        </div>
                                        <!-- /.info-box-content -->
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div class="tab-pane" id="edit">
                            <!-- section content-header used for symmetry pupose only -->
                            <section class="content-header">
                                <div class="row">
                                    <div class="col-md-12">
                                        {% if user_form_errors %}
                                            {% for field, errors in user_form_errors %}
                                                <div class="alert alert-danger alert-dismissible">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-hidden="true">&times;
                                                    </button>
                                                    <h4>
                                                        <i class="icon fa fa-warning"></i>
                                                        Alert!
                                                    </h4>
                                                    {{ errors.0|escape }} !
                                                </div>
                                            {% endfor %}
                                        {% elif profile_form_errors %}
                                            {% for field, errors in profile_form_errors %}
                                                <div class="alert alert-danger alert-dismissible">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-hidden="true">&times;
                                                    </button>
                                                    <h4>
                                                        <i class="icon fa fa-warning"></i>
                                                        Alert!
                                                    </h4>
                                                    {{ errors.0|escape }} !
                                                </div>
                                            {% endfor %}
                                        {% else %}
                                            {% if success %}
                                                <div class="alert alert-success alert-dismissible">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-hidden="true">&times;
                                                    </button>
                                                    <h4>
                                                        <i class="icon fa fa-check"></i>
                                                        Alert!
                                                    </h4>
                                                    User is successfully updated.
                                                </div>
                                            {% endif %}
                                            {% if failure %}
                                                <div class="alert alert-danger alert-dismissible">
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            aria-hidden="true">&times;
                                                    </button>
                                                    <h4>
                                                        <i class="icon fa fa-warning"></i>
                                                        Alert!
                                                    </h4>
                                                    Error while updating user. Please, try again!
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                        <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                                            {% csrf_token %}

                                            <div class="form-group">
                                                <label for="username" class="col-sm-2 control-label">User
                                                    Name</label>
                                                <div class="col-sm-8">
                                                    <input type='text' name='username' class='form-control'
                                                           id="username" value="{{ user_form.username.value }}"
                                                           required>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="role" class="col-sm-2 control-label"> User Type</label>
                                                <div class="col-sm-8">
                                                    <label class="radio-inline">
                                                        <input name="role" id="optionsRadios3" value="wizards"
                                                               {% ifequal group "Wizards" %}checked="true"{% endifequal %}
                                                               type="radio">Wizard
                                                    </label>
                                                    <label class="radio-inline">&nbsp;
                                                        <input name="role" id="optionsRadios2" value="judges"
                                                               {% ifequal group "Judges" %}checked="true"{% endifequal %}
                                                               type="radio">Judge (Also Admin)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="first_name" class="col-sm-2 control-label">First
                                                    Name</label>
                                                <div class="col-sm-8">
                                                    <input type="text" name="first_name" id="first_name"
                                                           class="form-control"
                                                           value="{{ user_form.first_name.value }}"
                                                           placeholder="First Name"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="last_name" class="col-sm-2 control-label">Last
                                                    Name</label>
                                                <div class="col-sm-8">
                                                    <input type="text" name="last_name" id="last_name"
                                                           class="form-control"
                                                           value="{{ user_form.last_name.value }}"
                                                           placeholder="Enter Last Name"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="email" class="col-sm-2 control-label">Email</label>
                                                <div class="col-sm-8">
                                                    <input type="email" name="email" class="form-control"
                                                           id="inputEmail3"
                                                           value="{{ user_form.email.value }}" placeholder="Email"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="contact_no" class="col-sm-2 control-label"> Phone
                                                    Number</label>
                                                <div class="col-sm-8">
                                                    <input type="text" name="contact_no" id="contact_no"
                                                           class="form-control"
                                                           value="{{ profile_form.contact_no.value }}"
                                                           placeholder="Phone Number"/>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="timezone" class="col-sm-2 control-label">Time
                                                    Zone</label>
                                                <div class="col-sm-8">
                                                    <select class="form-control" name="timezone" id="timezone">
                                                        {% for tz in timezones %}
                                                            <option value="{{ tz }}"
                                                                    {% if tz == selected_user.profile.timezone %}selected{% endif %}>
                                                                {{ tz }}
                                                            </option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label for="change_password" class="col-sm-2 control-label">Change
                                                    Password</label>

                                                <div class="col-sm-8">
                                                    <input type="password" name="change_password"
                                                           class="form-control"
                                                           id="change_password" value=""/>
                                                </div>
                                                <!--<label>
                                                    <input id="methods" type="checkbox"/>
                                                        Show password
                                                </label>-->
                                            </div>
                                            <div class="form-group">
                                                <label for="picture" class="col-sm-2 control-label">Change Profile
                                                    Picture</label>
                                                <div class="col-sm-8">
                                                    <input type="file" name="picture" id="picture"
                                                           class="form-control" accept="image/*"/>
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                <!--<button type="submit" class="btn btn-info "> Save </button>
                                              <button type="submit" class="btn btn-default"> Cancel </button>-->
                                                <div class="col-sm-offset-2 col-sm-8">
                                                    <button type="submit" class="btn btn-primary" name="btn-save">
                                                        <i class="fa fa-upload"></i> &nbsp;Update User Profile
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </section>
                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>
    <!-- /.content -->

{% endblock main_content %}