{% extends "judges/extends/base.html" %}

{% block title %} ARV | Create Task {% endblock %}

{% block heading %} Create Task {% endblock %}

{% block main_content %}
    <section class="content-header">
        <h1 class="text-bold underlined-heading">
            Create new task
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url "core:self_profile" %}">
                Timezone: {{ user.profile.timezone }}&nbsp; <i class="fa fa-edit"></i>
            </a></li>
        </ol>
    </section>

    <!-- section content-header used for symmetry pupose only -->
    <section class="content-header">
        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-12">
                        {% if task_form_errors %}
                            {% for field, errors in task_form_errors %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert"
                                    <h4>
                                        <i class="icon fa fa-warning"></i>
                                        Alert!
                                    </h4>
                                    {{ errors.0|escape }} !
                                </div>
                            {% endfor %}
                        {% elif timezone_form_errors %}
                            {% for field, errors in timezone_form_errors %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">&times;
                                    </button>
                                    <h4>
                                        <i class="icon fa fa-warning"></i>
                                        Alert!
                                    </h4>
                                    {{ errors.0|escape }} !
                                </div>
                            {% endfor %}
                        {% elif other_errors %}
                            {% for error in other_errors %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">&times;
                                    </button>
                                    <strong> {{ error|escape }} !</strong>
                                </div>
                            {% endfor %}
                        {% else %}
                            {% if failure %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">&times;
                                    </button>
                                    <h4>
                                        <i class="icon fa fa-warning"></i>
                                        Alert!
                                    </h4>
                                    Error while creating task. Please, try again !
                                </div>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>

                <form id="demo-form2" method="post" data-parsley-validate class="">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-bold">Task Basic Info</h4>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="name">Task Name <span class="required">*</span>
                                </label>

                                <input type="text" name="name" id="task_name" required="required" class="form-control">

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label" for="description">Description <span
                                        class="required">*</span>
                                </label>

                                <textarea id="description" required="required" name="description"
                                          class="form-control"></textarea>

                            </div>
                        </div>
                    </div>
                    <hr class="myhr">
                    <div class="row">
                        <div class="col-md-12">
                            <h4 class="text-bold">Task Time Setting</h4>
                            <div class="ln_solid"></div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Stock:</label>
                                <select class="form-control" name="stock" id="stock">
                                        <option value="AAPL">
                                            AAPL
                                        </option>
                                        <option value="GOOGL">
                                            GOOGL
                                        </option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4 col-md-offset-2">
                            <div class="form-group">
                                <label>Time Zone:</label>
                                <select class="form-control" name="timezone" id="timezone">
                                    {% for tz in timezones %}
                                        <option value="{{ tz }}"
                                                {% if tz == user.profile.timezone %}selected{% endif %}>
                                            {{ tz }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">

                            <div class="form-group">
                                <label>Sketch Upload Deadline*</label>
                                <div class='input-group date' id='sketch_deadline_picker'>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                    <input name="sketch_deadline" id="sketch_deadline" type='text'
                                           class="form-control"/>

                                </div>
                            </div>

                            <!-- /.input group -->

                        </div>

                        <!-- /.Viewer Sketch Deadline Date form group -->
                        <!-- Viewer Sketch Deadline Date -->
                        <div class="col-md-4 col-md-offset-2">
                            <div class="form-group">
                                <label>Judgment Deadline *</label>

                                <div class='input-group date' id='judgment_deadline_picker'>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                                    <input name="judgment_deadline" id="judgment_deadline" type='text'
                                           class="form-control"/>

                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>
                        <!-- /.Judge Deadline Date form group -->
                    </div>
                    <div class="row">

                        <!-- Trade Time Start -->
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Trade Start *</label>
                                <div class='input-group date' id='trade_start_picker'>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </span>
                                    <input name="trade_start" id="trade_start" type='text' class="form-control"/>

                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>

                        <!-- /.Trade Time Start form group -->
                        <!-- Trade Exit Time Date -->
                        <div class="col-md-4 col-md-offset-2">
                            <div class="form-group">
                                <label>Trade Exit*</label>
                                <div class='input-group date' id='trade_exit_time'>
                                <span class="input-group-addon">
                        <span class="glyphicon glyphicon-th"></span>
                    </span>
                                    <input name="trade_exit" id="trade_exit" type='text' class="form-control"/>

                                </div>
                                <!-- /.input group -->
                            </div>
                        </div>

                    </div>


                    <hr class="myhr">
                    <div class="row">
                        <div class="col-md-12">
                            <button name="savestg" type="submit" class="btn btn-primary">
                                <i class="fa fa-plus"></i>&nbsp;
                                Create Task
                            </button>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </section>

{% endblock %}