{% extends "judges/extends/base.html" %}

{% block title %} ARV | Edit Task {% endblock %}

{% block heading %} Edit Task {% endblock %}

{% block main_content %}
    <section class="content-header">
        <h1 class="text-bold underlined-heading">
            Change Task Status
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url "core:self_profile" %}">
                Timezone: {{ user.profile.timezone }}&nbsp; <i class="fa fa-edit"></i>
            </a></li>
        </ol>
    </section>

    <!-- section content-header used for symmetry pupose only -->
    <section class="content-header">

        <div class="row">
            <div class="col-md-12">

                <div class="row">
                    <div class="col-md-12">

                        {% if task_form_errors %}
                            {% for field, errors in task_form_errors %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">&times;
                                    </button>
                                    <h4>
                                        <i class="icon fa fa-warning"></i>
                                        Alert!
                                    </h4>
                                    {{ errors.0|escape }} !
                                </div>
                            {% endfor %}
                        {% else %}
                            {% if failure %}
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">&times;
                                    </button>
                                    <h4>
                                        <i class="icon fa fa-warning"></i>
                                        Alert!
                                    </h4>
                                    Error while creating task. Please, try again !
                                </div>
                            {% endif %}
                            {% if success %}
                                <div class="alert alert-success alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert"
                                            aria-hidden="true">&times;
                                    </button>
                                    <h4>
                                        <i class="icon fa fa-check"></i>
                                        Alert!
                                    </h4>
                                    The task is successfully updated.
                                </div>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>

                <form id="demo-form2" method="post" data-parsley-validate class="">
                    {% csrf_token %}
                    <div class="box box-primary collapsed-box">
                        <div class="box-header with-border">
                            <div class="col-md-12">
                                <h4 class="text-bold">
                                    Task Basic Info
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-box-tool" type="button" data-widget="collapse">
                                            <i class="fa fa-chevron-down"></i>
                                        </button>
                                    </div>
                                </h4>

                            </div>
                        </div>
                        <div class="box-body">

                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label" for="name">Task Name <span
                                                    class="required">*</span>
                                            </label>

                                            <input type="text" name="name" id="task_name" required="required"
                                                   class="form-control"
                                                   value="{{ task_form.name.value }}">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label" for="description">Description <span
                                                    class="required">*</span>
                                            </label>

                                            <textarea id="description" required="required" name="description"
                                                      class="form-control">{{ task_form.description.value|escape }}
                            </textarea>

                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <button name="savestg" type="submit" class="btn btn-primary">
                                            <i class="fa fa-upload"></i> Update Task
                                        </button>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-4 ">
                                <ul class="list-group">
                                    <label> Current Timezone: {{ user.profile.timezone }} </label>
                                    <li class="list-group-item">
                                        <span class="badge">Sketch Deadline</span>
                                        {{ task.sketch_deadline }}
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">Judges Deadline</span>
                                        {{ task.judgment_deadline }}
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">Trade Start</span>
                                        {{ task.trade_start }}
                                    </li>
                                    <li class="list-group-item">
                                        <span class="badge">Trade Exit</span>
                                        {{ task.trade_exit }}
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <hr>


                    <!-- forms for assigning participants using tabs or whatever -->
                    <div>

                        <div class="nav-tabs-custom">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active">
                                    <a href="#assign_wizards" aria-controls="assign_wizards" role="tab"
                                       data-toggle="tab">
                                        Assign Viewers
                                    </a>
                                </li>
                                <li role="presentation">
                                    <a href="#assign_judges" aria-controls="assign_judges" role="tab" data-toggle="tab">
                                        Assign Judges
                                    </a>
                                </li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="assign_wizards">
                                    <h4>Currently Assigned Viewers</h4>
                                    <div class="row">
                                        <div class="col-md-12" id="assigned_wizards_table">
                                            <div class="x-overflowable">
                                                <table class="table table-hover table-striped table-bordered" id="assigned_wizards"
                                                       data-task-id="{{ task.id }}"
                                                       style="border: 1px solid #f0f0f0"
                                                       data-ajax-url="{% url "manage_tasks:assign_remove_viewers" %}"
                                                       data-csrf-token="{{ csrf_token }}">
                                                    <thead>
                                                    <!--<table class='table table-bordered table-responsive'>-->
                                                    <tr>
                                                        <th>#</th>
                                                        <th>User Name</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>E-mail</th>
                                                        <th>User Role</th>
                                                        <th>Contact No</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for user in assigned_wizards %}
                                                        <tr id="assigned-user-{{ user.id }}">
                                                            <td>{{ forloop.counter }}</td>
                                                            <td>{{ user.username }}</td>
                                                            <td>{{ user.first_name|default:"---" }}</td>
                                                            <td>{{ user.last_name|default:"---" }}</td>
                                                            <td>{{ user.email|default:"---" }}</td>
                                                            <td>
                                                                {% for group in user.groups.all %}
                                                                    {{ group.name|slice:":-1" }} <br>
                                                                {% empty %}
                                                                    No role
                                                                {% endfor %}
                                                            </td>
                                                            <td>{{ user.profile.contact_no }}</td>
                                                            <td align="center">
                                                                <button data-id="{{ user.id }}" data-assignment="false"
                                                                        class="btn btn-danger assign_remove_user"
                                                                        data-user-type="wizard">
                                                                    Remove
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% empty %}
                                                        <tr id="no-wizard-assigned">
                                                            <td align="center" colspan="9" class="text-bold"
                                                                style="font-size:2em;">
                                                                No Viewers Assigned yet
                                                            </td>
                                                        </tr>
                                                    {% endfor %}

                                                    {% include "core/includes/pagination.html" with items=assigned_wizards %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>Assign new viewers</h4>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="wizard_attribute">Filter by</label>
                                            <select name="wizard_attribute" class="form-control" id="wizard_attribute">
                                                <option value="username">User Name</option>
                                                <option value="first_name">First Name</option>
                                                <option value="last_name">Last Name</option>
                                                <option value="email">Email</option>
                                                <option value="role">User Role</option>
                                                <option value="contact_no">Contact No</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="wizard_search_term">Search for</label>
                                            <div class="has-feedback">
                                                <input name="wizard_search_term" id="wizard_search_term"
                                                       class="form-control"
                                                       type="text" data-table-id="wizards-result-table"
                                                       data-ajax-url="{% url "manage_tasks:get_filtered_wizards" task.id %}"
                                                       autofocus>
                                                <span class="glyphicon glyphicon-search form-control-feedback"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">(Search)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="wizards-result-table">
                                        <div class="col-md-12">
                                            <div class="x-overflowable">
                                                <table class="table table-hover table-bordered table-striped"
                                                       id="dataTables-example"
                                                       style="border: 1px solid #f0f0f0">
                                                    <thead>
                                                    <!--<table class='table table-bordered table-responsive'>-->
                                                    <tr>
                                                        <th>#</th>
                                                        <th>User Name</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>E-mail</th>
                                                        <th>User Role</th>
                                                        <th>Contact No</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for user in wizards %}
                                                        <tr id="user-{{ user.id }}">
                                                            <td>{{ forloop.counter }}</td>
                                                            <td>{{ user.username }}</td>
                                                            <td>{{ user.first_name|default:"---" }}</td>
                                                            <td>{{ user.last_name|default:"---" }}</td>
                                                            <td>{{ user.email|default:"---" }}</td>
                                                            <td>
                                                                {% for group in user.groups.all %}
                                                                    {{ group.name|slice:":-1" }} <br>
                                                                {% empty %}
                                                                    No role
                                                                {% endfor %}
                                                            </td>
                                                            <td>{{ user.profile.contact_no }}</td>
                                                            <td align="center">
                                                                {% if user.pk in assigned_wizards_ids %}
                                                                    <button data-id="{{ user.id }}"
                                                                            data-assignment="false"
                                                                            class="btn btn-danger assign_remove_user"
                                                                            data-user-type="wizard">
                                                                        Remove
                                                                    </button>
                                                                {% else %}
                                                                    <button data-id="{{ user.id }}"
                                                                            data-assignment="true"
                                                                            class="btn btn-success assign_remove_user"
                                                                            data-user-type="wizard">
                                                                        Assign
                                                                    </button>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% empty %}
                                                        <tr>
                                                            <td align="center" colspan="9" class="text-bold"
                                                                style="font-size:2em;">
                                                                No Viewers Found
                                                            </td>
                                                        </tr>
                                                    {% endfor %}

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        {% include "core/includes/pagination.html" with items=wizards %}
                                    </div>

                                </div>
                                <div role="tabpanel" class="tab-pane" id="assign_judges">
                                    <h4>Currently Assigned Judges</h4>
                                    <div class="row">
                                        <div class="col-md-12" id="assigned_judges_table">
                                            <div class="x-overflowable">
                                                <table class="table table-hover table-bordered table-striped" id="assigned_judges"
                                                       data-task-id="{{ task.id }}"
                                                       style="border: 1px solid #f0f0f0"
                                                       data-ajax-url="{% url "manage_tasks:assign_remove_judges" %}"
                                                       data-csrf-token="{{ csrf_token }}">
                                                    <thead>
                                                    <!--<table class='table table-bordered table-responsive'>-->
                                                    <tr>
                                                        <th>#</th>
                                                        <th>User Name</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>E-mail</th>
                                                        <th>User Role</th>
                                                        <th>Contact No</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for user in assigned_judges %}
                                                        <tr id="assigned-user-{{ user.id }}">
                                                            <td>{{ forloop.counter }}</td>
                                                            <td>{{ user.username }}</td>
                                                            <td>{{ user.first_name|default:"---" }}</td>
                                                            <td>{{ user.last_name|default:"---" }}</td>
                                                            <td>{{ user.email|default:"---" }}</td>
                                                            <td>
                                                                {% for group in user.groups.all %}
                                                                    {{ group.name|slice:":-1" }} <br>
                                                                {% empty %}
                                                                    No role
                                                                {% endfor %}
                                                            </td>
                                                            <td>{{ user.profile.contact_no }}</td>
                                                            <td align="center">
                                                                <button data-id="{{ user.id }}" data-assignment="false"
                                                                        class="btn btn-danger assign_remove_user"
                                                                        data-user-type="judge">
                                                                    Remove
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    {% empty %}
                                                        <tr id="no-judge-assigned">
                                                            <td align="center" colspan="9" class="text-bold"
                                                                style="font-size:2em;">
                                                                No Judges Assigned yet
                                                            </td>
                                                        </tr>
                                                    {% endfor %}

                                                    {% include "core/includes/pagination.html" with items=assigned_judges %}                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="row">
                                        <div class="col-md-6">
                                            <h4>Assign New Judges</h4>
                                        </div>
                                        <div class="col-md-2">
                                            <label for="judge_attribute">Filter by</label>
                                            <select name="judge_attribute" class="form-control" id="judge_attribute">
                                                <option value="username">User Name</option>
                                                <option value="first_name">First Name</option>
                                                <option value="last_name">Last Name</option>
                                                <option value="email">Email</option>
                                                <option value="role">User Role</option>
                                                <option value="contact_no">Contact No</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label for="judge_search_term">Search for</label>
                                            <div class="has-feedback">
                                                <input name="judge_search_term" id="judge_search_term"
                                                       class="form-control"
                                                       type="text" data-table-id="judges-result-table"
                                                       data-ajax-url="{% url "manage_tasks:get_filtered_judges" task.id %}"
                                                       autofocus>
                                                <span class="glyphicon glyphicon-search form-control-feedback"
                                                      aria-hidden="true"></span>
                                                <span class="sr-only">(Search)</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row" id="judges-result-table">
                                        <div class="col-md-12">
                                            <div class="x-overflowable">
                                                <table class="table table-hover table-bordered table-striped"
                                                       id="dataTables-example"
                                                       style="border: 1px solid #f0f0f0">
                                                    <thead>
                                                    <!--<table class='table table-bordered table-responsive'>-->
                                                    <tr>
                                                        <th>#</th>
                                                        <th>User Name</th>
                                                        <th>First Name</th>
                                                        <th>Last Name</th>
                                                        <th>E-mail</th>
                                                        <th>User Role</th>
                                                        <th>Contact No</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for user in judges %}
                                                        <tr id="user-{{ user.id }}">
                                                            <td>{{ forloop.counter }}</td>
                                                            <td>{{ user.username }}</td>
                                                            <td>{{ user.first_name|default:"---" }}</td>
                                                            <td>{{ user.last_name|default:"---" }}</td>
                                                            <td>{{ user.email|default:"---" }}</td>
                                                            <td>
                                                                {% for group in user.groups.all %}
                                                                    {{ group.name|slice:":-1" }} <br>
                                                                {% empty %}
                                                                    No role
                                                                {% endfor %}
                                                            </td>
                                                            <td>{{ user.profile.contact_no }}</td>
                                                            <td align="center">
                                                                {% if user.pk in assigned_judges_ids %}
                                                                    <button data-id="{{ user.id }}"
                                                                            data-assignment="false"
                                                                            class="btn btn-danger assign_remove_user"
                                                                            data-user-type="judge">
                                                                        Remove
                                                                    </button>
                                                                {% else %}
                                                                    <button data-id="{{ user.id }}"
                                                                            data-assignment="true"
                                                                            class="btn btn-success assign_remove_user"
                                                                            data-user-type="judge">
                                                                        Assign
                                                                    </button>
                                                                {% endif %}
                                                            </td>
                                                        </tr>
                                                    {% empty %}
                                                        <tr>
                                                            <td align="center" colspan="9" class="text-bold"
                                                                style="font-size:2em;">
                                                                No Judges Found
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                        {% include "core/includes/pagination.html" with items=judges %}
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </form>
            </div>
        </div>
    </section>

{% endblock %}
