{% extends "judges/extends/base.html" %}

{% block title %} ARV | View Tasks {% endblock %}

{% block main_content %}
    <section class="content-header">
        <h1 class="text-bold underlined-heading">
            All Tasks
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url "core:self_profile" %}">
                Timezone: {{ user.profile.timezone }}&nbsp; <i class="fa fa-edit"></i>
            </a></li>
        </ol>
    </section>

    <!-- section content-header used for symmetry pupose only -->
    <section class="content-header">
        <div class="row">
            <div class="col-md-6">
                <div>&nbsp;</div><!-- just a div to take an empty line -->
                <a href="{% url "manage_tasks:create_task" %}" class="btn btn-large btn-primary"><i
                        class="fa fa-plus"></i>
                    &nbsp; Create Task</a>
            </div>
            <div class="col-md-2">
                <label for="attribute">Filter by</label>
                <select name="attribute" class="form-control" id="attribute">
                    <option value="name">Name</option>
                    <option value="description">Description</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="search_term">Search for</label>
                <div class="has-feedback">
                    <input name="search_term" id="search_term" class="form-control" type="text"
                           data-table-id="result-table"
                           data-ajax-url="{% url "manage_tasks:get_filtered_tasks" %}" autofocus>
                    <span class="fa fa-search form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(Search)</span>
                </div>
            </div>
        </div>

        <div class="row" id="result-table">
            <div class="col-md-12">
                <div class="x-overflowable">
                    <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                        <thead>
                        <!--<table class='table table-bordered table-responsive'>-->
                        <tr>
                            <th>#</th>
                            <th>Task Name</th>
                            <th>Task Description</th>
                            <th>No. of Viewers</th>
                            <th>No. of Judges</th>
                            <th colspan="2" align="center">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for task in tasks %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ task.name }}</td>
                                <td>{{ task.description }}</td>
                                <td>
                                    <a href="{% url "manage_tasks:edit_task" task.id %}">
                                        {{ task.wizards.all.count }} viewers
                                    </a>
                                </td>
                                <td>
                                    <a href="{% url "manage_tasks:edit_task" task.id %}">
                                        {{ task.judges.count }} judges
                                    </a>
                                </td>
                                <td align="center">
                                    <a href="{% url "manage_tasks:edit_task" task.id %}">
                                        <i class="fa fa-edit"></i>
                                    </a>
                                </td>
                                <td align="center">
                                    <a href="javascript:void(0)" class="delete_item text-danger"
                                       data-id="{{ task.id }}" data-ajax-url="{% url "manage_tasks:delete_task" %}"
                                       data-csrf-token="{{ csrf_token }}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td align="center" colspan="9" class="text-bold" style="font-size:2em;">
                                    No Results Found
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            {% include "core/includes/pagination.html" with items=tasks %}

        </div>

    </section>
{% endblock main_content %}
