<div class="col-md-12">
    <div class="x-overflowable">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
            <!--<table class='table table-bordered table-responsive'>-->
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Potential pair</th>
                {% comment %}<th>Caption</th>
                <th>Description</th>{% endcomment %}

            </tr>
            </thead>

            {% load thumbnail %}

            <tbody>
            {% for image in images %}
                <tr>
                    <td>{{ image.number }}</td>
                    <td>
                        {% thumbnail image.image "200" as im %}
                            <img src="{{ im.url }}" alt="{{ image.description|default:image.id }}"/>
                        {% endthumbnail %}
                    </td>
                     <td>
                         <div id="id_tagging"></div>
                         {% comment %}<input type="text"  class="input-group" >{% endcomment %}
                     </td>
                    {% comment %}<td>{{ image.caption|default:"---" }}</td>
                    <td>{{ image.description|default:"---" }}</td>{% endcomment %}

                   {% comment %} <td align="center">
                        <a href="#"><i class="fa fa-edit"></i></a>
                    </td>{% endcomment %}

                </tr>
            {% empty %}
                <tr>
                    <td align="center" colspan="9" class="text-bold" style="font-size:2em;">
                        No Results Found
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "core/includes/pagination.html" with items=images %}


