{% extends "extends/base.html" %}

{% block side_navigation_links %}
    {% for group in user.groups.all %}
        {% ifequal group.name "Admins" %}
            {% include "core/includes/admin_side_navigation.html" %}
        {% else %}
            {% ifequal group.name "Wizards" %}
                {% include "wizards/includes/side_navigation.html" %}
            {% else %}
                {% ifequal group.name "Judges" %}
                    {% include "judges/includes/side_navigation.html" %}
                {% endifequal %}
            {% endifequal %}
        {% endifequal %}
    {% endfor %}
{% endblock %}

{% block title %} ARV | Edit profile {% endblock %}

{% block heading %} Edit profile{% endblock %}

{% block main_content %}
    <section class="content-header">
        <h1 class="text-bold underlined-heading">
            Edit Profile
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url "core:self_profile" %}">
                Timezone: {{ user.profile.timezone }}&nbsp; <i class="fa fa-edit"></i>
            </a></li>
        </ol>
    </section>

    <!-- section content-header used for symmetry pupose only -->
    <section class="content-header">
        <div class="row">
            <div class="col-md-12">
                {% if user_form_errors %}
                    {% for field, errors in user_form_errors.items %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4>
                                <i class="icon fa fa-warning"></i>
                                Alert!
                            </h4>
                            {{ errors.0|escape }} !
                        </div>
                    {% endfor %}
                {% elif profile_form_errors %}
                    {% for field, errors in profile_form_errors.items %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4>
                                <i class="icon fa fa-warning"></i>
                                Alert!
                            </h4>
                            {{ errors.0|escape }} !
                        </div>
                    {% endfor %}
                {% else %}
                    {% if success %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4>
                                <i class="icon fa fa-check"></i>
                                Alert!
                            </h4>
                            Profile is successfully updated.
                        </div>
                    {% endif %}
                    {% if failure %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4>
                                <i class="icon fa fa-warning"></i>
                                Alert!
                            </h4>
                            Error while updating user. Please, try again.
                        </div>
                    {% endif %}
                {% endif %}
                <form class="form-horizontal" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-group">
                        <label for="username" class="col-sm-2 control-label">User Name*</label>
                        <div class="col-sm-8">
                            <input type='text' name='username' class='form-control'
                                   id="username" value="{{ user_form.username.value }}" required>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="role" class="col-sm-2 control-label"> User Type*</label>
                        <div class="col-sm-8">
                            <label class="radio-inline">
                                <input name="role" id="optionsRadios3" value="wizards"
                                        {% ifequal group "Wizards" %}
                                       checked="true"
                                        {% else %}
                                       disabled
                                        {% endifequal %} type="radio">Wizard
                            </label>
                            <label class="radio-inline">
                                <input name="role" id="optionsRadios2" value="judges"
                                        {% ifequal group "Judges" %}
                                       checked="true"
                                        {% else %}
                                       disabled
                                        {% endifequal %} type="radio">Judge
                            </label>
                            <label class="radio-inline">
                                &nbsp; <input name="role" id="optionsRadios1" value="admins"
                                    {% ifequal group "Admins" %}
                                              checked="true"
                                    {% else %}
                                              disabled
                                    {% endifequal %} type="radio">Admin
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="first_name" class="col-sm-2 control-label">First Name</label>
                        <div class="col-sm-8">
                            <input type="text" name="first_name" id="first_name" class="form-control"
                                   value="{{ user_form.first_name.value }}" placeholder="First Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="last_name" class="col-sm-2 control-label">Last Name</label>
                        <div class="col-sm-8">
                            <input type="text" name="last_name" id="last_name" class="form-control"
                                   value="{{ user_form.last_name.value }}" placeholder="Enter Last Name"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-8">
                            <input type="email" name="email" class="form-control" id="inputEmail3"
                                   value="{{ user_form.email.value }}" placeholder="Email"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="contact_no" class="col-sm-2 control-label"> Phone Number</label>
                        <div class="col-sm-8">
                            <input type="text" name="contact_no" id="contact_no" class="form-control"
                                   value="{{ profile_form.contact_no.value }}" placeholder="Phone Number"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="timezone" class="col-sm-2 control-label">Time Zone</label>
                        <div class="col-sm-8">
                            <select class="form-control" name="timezone" id="timezone">
                                {% for tz in timezones %}
                                    <option value="{{ tz }}"
                                            {% if tz == user.profile.timezone %}selected{% endif %}>
                                        {{ tz }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="change_password" class="col-sm-2 control-label">Change Password</label>

                        <div class="col-sm-8">
                            <input type="password" name="change_password" class="form-control"
                                   id="change_password" value=""/>
                        </div>
                        <!--<label>
                            <input id="methods" type="checkbox"/>
                                Show password
                        </label>-->
                    </div>

                    <div class="form-group">
                        <label for="picture" class="col-sm-2 control-label">Change Profile Picture</label>
                        <div class="col-sm-8">
                            <input type="file" name="picture" id="picture" class="form-control" accept="image/*"/>
                        </div>
                    </div>

                    <div class="form-group">
                        <!--<button type="submit" class="btn btn-info "> Save </button>
                      <button type="submit" class="btn btn-default"> Cancel </button>-->
                        <div class="col-sm-offset-2 col-sm-8">
                            <button type="submit" class="btn btn-primary" name="btn-save">
                                <i class="fa fa-upload"></i>&nbsp; Update Profile
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
