{#deprecated html#}

{% load common_tags %}


<li class="treeview {% active_if "core:admin_dashboard" %}">
    <a href="{% url "core:admin_dashboard" %}">
        <i class="fa fa-home"></i> <span>Home</span>

    </a>

</li>

<li class="treeview {% active_if "manage_tasks:view_tasks" "manage_tasks:create_task" %}">
    <a href="{% url "manage_tasks:view_tasks" %}">
        <i class="fa fa-dashboard"></i> <span>Tasks</span>

    </a>

</li>
<li class="treeview {% active_if "manage_images:add_image" "manage_images:view_images" %}">
    <a href="{% url "manage_images:view_images" %}">
        <i class="fa fa-image"></i> <span>Images</span>

    </a>

</li>
<li class="treeview {% active_if "manage_users:register_user" "manage_users:view_users" "admins/edit_user/" %}">
    <a href="{% url "manage_users:view_users" %}">
        <i class="fa fa-users"></i> <span>Users</span>

    </a>

</li>