{#deprecated html for this case#}
{% if items.has_other_pages %}

    <div class="col-md-12 text-center">

        <ul class="pagination">
            <!-- previous page indicator -->
            {% if items.has_previous %}
                <li>
                    <a href="?page={{ items.previous_page_number }}" aria-label="Previous"><span
                            aria-hidden="true">&laquo;</span></a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="#" aria-label="Previous"><span
                            aria-hidden="true">&laquo;</span></a>
                </li>
            {% endif %}

            <!-- the first page -->
            {% if many_pages %}
                {% ifnotequal items.number 1 %}
                    <li>
                        <a href="?page=1"> 1 </a>
                    </li>

                    <!-- the ellipsis part of the pagination -->
                    {% ifnotequal items.number 2 %}
                        <li>
                            <a href="#"> ... </a>
                        </li>
                    {% endifnotequal %}
                {% endifnotequal %}
            {% endif %}

            <!-- anticipated pages for pagination -->
            {% for page in pages %}
                <li {% ifequal items.number page %} class="active" {% endifequal %}>
                    <a href="?page={{ page }}"> {{ page }} <span class="sr-only">(current)</span></a>
                </li>
            {% endfor %}

            {% if many_pages %}
                <!-- the last page -->
                {% ifnotequal items.number items.paginator.num_pages %}
                    <!-- the ellipsis part of the pagination -->
                    {% ifnotequal items.number 1 %}
                        {% ifnotequal items.previous_page_number items.paginator.num_pages %}
                            <li>
                                <a href="#"> ... </a>
                            </li>
                        {% endifnotequal %}
                    {% endifnotequal %}

                    <li>
                        <a href="?page={{ items.paginator.num_pages }}">
                            {{ items.paginator.num_pages }}
                        </a>
                    </li>
                {% endifnotequal %}
            {% endif %}

            <!-- next page indicator -->
            {% if items.has_next %}
                <li>
                    <a href="?page={{ items.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            {% else %}
                <li class="disabled">
                    <a href="#" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span></a>
                </li>
            {% endif %}
        </ul>
    </div>

{% endif %}
