<div class="col-md-12">
    <div class="x-overflowable">
        <table class="table table-hover table-bordered table-striped" style="border: 1px solid #f0f0f0"
               data-ajax-url="{% url "manage_tasks:assign_remove_judges" %}" data-csrf-token="{{ csrf_token }}">
            <thead>
            <tr>
                <th>#</th>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>E-mail</th>
                <th>User Role</th>
                <th>Contact No</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for judge in judges %}
                <tr id="user-{{ judge.id }}">
                    <td>{{ forloop.counter }}</td>
                    <td>{{ judge.username }}</td>
                    <td>{{ judge.first_name|default:"---" }}</td>
                    <td>{{ judge.last_name|default:"---" }}</td>
                    <td>{{ judge.email|default:"---" }}</td>
                    <td>
                        {% for group in judge.groups.all %}
                            {{ group.name|slice:":-1" }} <br>
                        {% empty %}
                            No role
                        {% endfor %}
                    </td>
                    <td>{{ judge.profile.contact_no }}</td>
                    <td align="center">
                        {% if judge.pk in assigned_judges_ids %}
                            <button data-id="{{ judge.id }}" data-assignment="false"
                                    class="btn btn-danger assign_remove_user"
                                    data-user-type="judge">
                                Remove
                            </button>
                        {% else %}
                            <button data-id="{{ judge.id }}" data-assignment="true"
                                    class="btn btn-success assign_remove_user"
                                    data-user-type="judge">
                                Assign
                            </button>
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td align="center" colspan="9" class="text-bold" style="font-size:2em;">
                        No Judges Found
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "core/includes/pagination.html" with items=judges %}