<div class="col-md-12">
    <div class="x-overflowable">
        <table class="table table-hover table-bordered table-striped" style="border: 1px solid #f0f0f0">
            <thead>
            <!--<table class='table table-bordered table-responsive'>-->
            <tr>
                <th>#</th>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>No. of Viewers</th>
                <th>No. of Judges</th>
                <th colspan="2" align="center">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ task.name }}</td>
                    <td>{{ task.description }}</td>
                    <td>
                        <a href="{% url "manage_tasks:edit_task" task.id %}">
                            {{ task.wizards.all.count }} viewers
                        </a>
                    </td>
                    <td>
                        <a href="{% url "manage_tasks:edit_task" task.id %}">
                            {{ task.judges.count }} judges
                        </a>
                    </td>
                    <td align="center">
                        <a href="{% url "manage_tasks:edit_task" task.id %}"><i class="fa fa-edit"></i></a>
                    </td>
                    <td align="center">
                        <a href="javascript:void(0)" class="delete_item text-danger" data-id="{{ task.id }}"
                           data-ajax-url="{% url "manage_tasks:delete_task" %}"
                           data-csrf-token="{{ csrf_token }}">
                            <i class="fa fa-trash"></i>
                        </a>
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td align="center" colspan="9" class="text-bold" style="font-size:2em;">
                        No Results Found
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% include "core/includes/pagination.html" with items=images %}