<div class="col-md-12">
    <div class="x-overflowable">
        <table class="table table-striped table-bordered table-hover" id="dataTables-example">
            <thead>
            <!--<table class='table table-bordered table-responsive'>-->
            <tr>
                <th>#</th>
                <th>User Name</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>E-mail</th>
                <th>User Role</th>
                <th>Contact No</th>
                <th>Account state</th>
            </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.first_name|default:"---" }}</td>
                    <td>{{ user.last_name|default:"---" }}</td>
                    <td>{{ user.email|default:"---" }}</td>
                    <td>
                        {% for group in user.groups.all %}
                            {{ group.name|slice:":-1" }} <br>
                        {% empty %}
                            No role
                        {% endfor %}
                    </td>
                    <td>{{ user.profile.contact_no }}</td>
                    <td>
                        {% if user.is_active %}
                            Active
                        {% else %}
                            Deactivated
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <tr>
                    <td align="center" colspan="9" class="text-bold" style="font-size:2em;">
                        No Results Found
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<script>
    // activate some buttons
    set_user_activation_deactivation_handler();
</script>

{% include "core/includes/pagination.html" with items=users %}