<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assigned task {{ task_name }}</title>
</head>
<body>

    <h1>You are assigned on new task: {{ task_name }}</h1>
    <h3>Task description:</h3>
    <p><i>{{ task_description }}</i></p>

    <p style="font-weight: bold">The deadline of the task is {{ task_sketch_deadline }}</p>

    <p>
        <a href="{{ task_link }}">
            Start kicking off the task with your superior wizardry skill by clicking here
        </a>
    </p>
</body>
</html>