<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Removed from task {{ task_name }}</title>
</head>
<body>

    <h1>You are removed from assigned task: {{ task_name }}</h1>
    <h3>Task description:</h3>
    <p><i>{{ task_description }}</i></p>

    <p style="font-weight: bold">The deadline of the task was {{ task_sketch_deadline }}</p>

    <p>
        Don't worry, you will be assigned on new task soon.
    </p>
</body>
</html>