{% extends "judges/extends/base.html" %}

{% block title %} ARV | Add Image {% endblock %}

{% block heading %} Upload Image {% endblock %}

{% block main_content %}
    <section class="content-header">
        <h1 class="text-bold underlined-heading">
            Add new image
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url "core:self_profile" %}">
                Timezone: {{ user.profile.timezone }}&nbsp; <i class="fa fa-edit"></i>
            </a></li>
        </ol>
    </section>

    <!-- section content-header used for symmetry pupose only -->
    <section class="content-header">
        <div class="row">
            <div class="col-md-12">

                {% if image_form_errors %}
                    {% for field, errors in image_form_errors.items %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4>
                                <i class="icon fa fa-warning"></i>
                                Upload failed!
                            </h4>
                            {{ errors.0|escape }} !
                        </div>
                    {% endfor %}
                {% else %}
                    {% if success %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4>
                                <i class="icon fa fa-check"></i>
                                Alert!
                            </h4>
                            Image is successfully uploaded.
                        </div>
                    {% endif %}
                    {% if failure %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <<h4>
                            <i class="icon fa fa-warning"></i>
                            Alert!
                        </h4>
                            Error while uploading image. Please, try again !
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">

                <form action="" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label">Choose Image </label>
                        <input class="input-group" type="file" multiple name="image" id="image_to_upload" accept="image/*"/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Caption </label>
                        <input class="form-control" type="text" name="caption" placeholder="Enter Image Caption"
                               value=""/>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description </label>
                        <textarea class="form-control" type="text" name="description" placeholder="Your Description"
                               value=""> </textarea>
                    </div>
                    <!--div class="form-group">
                        <label class="control-label">Tags
                            <small>( Write multiple tags separated by comma )</small>
                        </label>
                        <textarea class="form-control" name="tags" placeholder="" value="">

                         </textarea>
                    </div-->

                    <!--<button type="submit" class="btn btn-info "> Save </button>
                  <button type="submit" class="btn btn-default"> Cancel </button>-->
                    <button type="submit" class="btn btn-primary" name="btn-save">
                        <span class="fa fa-upload"></span>&nbsp; Upload Image
                    </button>

                </form>
                <!-- /.form-group -->
            </div>
            <!-- /.col -->
            <div class="col-md-6">
                <label>Image Preview</label>
                <p id="image_status">No Image Chosen</p>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>

{% endblock %}
