{% extends "judges/extends/base.html" %}

{% block title %} ARV | Add Images {% endblock %}

{% block heading %} Upload Images {% endblock %}

{% block main_content %}
    <section class="content-header">
        <h1 class="text-bold underlined-heading">
            Add new images
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url "core:self_profile" %}">
                Timezone: {{ user.profile.timezone }}&nbsp; <i class="fa fa-edit"></i>
            </a></li>
        </ol>
    </section>

    <!-- section content-header used for symmetry pupose only -->
    <section class="content-header">

        <div class="row" style="margin-bottom: 2em;">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Choose Images </label>
                    <input class="input-group" type="file" multiple name="image" id="fileupload_input" accept="image/*"
                           style="display: none;"
                           data-url="{% url 'manage_images:add_images' %}"/>
                </div>

                <button class="btn btn-primary js-upload-photos">
                    <span class="fa fa-upload"></span>&nbsp; Upload Images
                </button>


            </div>
            <!-- /.col -->

        </div>
        <!-- /.row -->

        <div class="row">

            <!-- A div to show status messages about uploading images -->
            <div class="col-md-12" id="feedback_div">

            </div>
        </div>
    </section>

    <!-- A progress bar to indicate uploading status -->
    <div class="modal" id="modal-progress">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header" style="text-align: center;">
                    <h4> Uploading ... </h4>
                </div>

                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-striped active" style="width: 0%"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
