{% extends "judges/extends/base.html" %}

{% block title %} ARV | View Images {% endblock %}

{% block main_content %}
    <section class="content-header">
        <h1 class="text-bold underlined-heading">
            All Images
        </h1>
        <ol class="breadcrumb">
            <li><a href="{% url "core:self_profile" %}">
                Timezone: {{ user.profile.timezone }}&nbsp; <i class="fa fa-edit"></i>
            </a></li>
        </ol>
    </section>

    <!-- section content-header used for symmetry pupose only -->
    <section class="content-header">
        <div class="row">
            <div class="col-md-6">
                <div>&nbsp;</div><!-- just a div to take an empty line -->
                <a href="{% url "manage_images:add_image" %}" class="btn btn-large btn-primary"><i
                        class="fa fa-plus"></i> &nbsp; Add Image </a>
            </div>
            <div class="col-md-2">
                <label for="attribute">Filter by</label>
                <select name="attribute" class="form-control" id="attribute">
                    <option value="id">ID</option>
                </select>
            </div>
            <div class="col-md-4">
                <label for="search_term">Search for</label>
                <div class="has-feedback">
                    <input name="search_term" id="search_term" class="form-control" type="text"
                           data-table-id="result-table"
                           data-ajax-url="{% url "manage_images:get_filtered_images" %}">
                    <span class="fa fa-search form-control-feedback" aria-hidden="true"></span>
                    <span class="sr-only">(Search)</span>
                </div>
            </div>
        </div>

        <div class="row" id="result-table">
            <div class="col-md-12">
                <div class="x-overflowable">
                    <table class="table table-striped table-bordered table-hover" id="images-table">
                        <thead>
                        <!--<table class='table table-bordered table-responsive'>-->
                        <tr>
                            <th>ID</th>
                            <th>Image</th>
                            <th>Potential pair</th>
                            {% comment %} <th>Caption</th>
                            <th>Description</th>{% endcomment %}

                        </tr>
                        </thead>

                        {% load thumbnail %}

                        <tbody>
                        {% for image in images %}
                            <tr>
                                <td>{{ image.id }}</td>
                                <td>
                                    {% thumbnail image.image "200" as im %}
                                        <img src="{{ im.url }}" alt="{{ image.description|default:image.id }}"/>
                                    {% endthumbnail %}
                                </td>
                                <td>
                                    <form action="{% url "manage_images:update_potential_images" image.id %}" method="POST">
                                        {% csrf_token %}

                                        <select class="js-example-basic-multiple" name="potentials" title="potentials"
                                                style="width: 196px;" id="{{ image.id }}" multiple="multiple">
                                            {% for potential in image.potentials.values %}
                                                <option value="{{ potential.id }}" selected="selected">
                                                    {{ potential.id }}
                                                </option>
                                            {% endfor %}
                                            {% for image_obj in all_images %}
                                                {% if not image_obj in image.potentials.all %}
                                                    <option value="{{ image_obj.id }}">
                                                        {{ image_obj.id }}
                                                    </option>
                                                {% endif %}
                                            {% endfor %}
                                        </select>
                                        <input type="submit" value="Update" class="btn btn-success">
                                    </form>
                                </td>
                                {% comment %}<td>{{ image.caption|default:"---" }}</td>
                                <td>{{ image.description|default:"---" }}</td>{% endcomment %}
                                {% comment %}<td align="center">
                                    <a href="#"><i class="fa fa-edit"></i></a>
                                </td>{% endcomment %}

                            </tr>
                        {% empty %}
                            <tr>
                                <td align="center" colspan="9" class="text-bold" style="font-size:2em;">
                                    No Results Found
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>

            {% include "core/includes/pagination.html" with items=images %}

        </div>
    </section>
{% endblock main_content %}
